@model IEnumerable<Trabajo.Controllers.MotosApiController>


@{
    ViewData["Title"] = "Motos";
}

<div class="container">
    <h1 class="text-center mb-4">Especificaciones de motos</h1>
    <div class="row justify-content-center">
        <div class="col-md-6">

                <h3>Marca</h3>
                <select id="cboMarcas" onchange="obtenerModelosDeMotos()">
                    <option value="">Seleccionar marca</option>
                </select>
                <h3>Modelo</h3>
                <select id="cboModelos" onchange="obtenerSpecDeMotos()">
                    <option value="">Seleccionar modelo</option>
                </select>
                <br>
                <h3>Especificaciones</h3>
                <textarea id="textarea1" name="textarea1" rows="4" cols="50" readonly></textarea>
                <br>
        <a href="http://localhost:5208">volver al inicio</a>
    </div>
        </div>
    </div>
</div>

<script>
        function obtenerDatos() {
            $.ajax({
                url: '@Url.Action("ObtenerDatosDeAPI", "MotosApi")',
                type: 'GET',
                success: function (data) {
                    // Aquí puedes procesar los datos devueltos por la API y mostrarlos en la vista
                    console.log(data);
                },
                error: function () {
                    console.log('Error al obtener los datos de la API');
                }
            });
        }

        function obtenerModelosDeMotos() {
            var cboMarcas = document.getElementById('cboMarcas');
            var cboModelos = document.getElementById('cboModelos');
            var marcaSeleccionada = cboMarcas.value;

            // Realiza la solicitud AJAX al controlador para obtener los modelos de motos
            $.ajax({
                url: '@Url.Action("ObtenerModelosDeMotos", "MotosApi")',
                type: 'GET',
                data: { marca: marcaSeleccionada },
                success: function(data) {
                    // Limpia las opciones anteriores
                    cboModelos.innerHTML = '';

                    // Llena el combobox con los modelos de motos obtenidos
                    for (var i = 0; i < data.length; i++) {
                        var option = document.createElement('option');
                        option.value = data[i].id;
                        option.text = data[i].name;
                        cboModelos.appendChild(option);
                    }
                },
                error: function(xhr, textStatus, errorThrown) {
                    console.error('Error al obtener los modelos de motos:', errorThrown);
                }
            });
        }

        function obtenerModelosDeMotos() {
            var cboMarcas = document.getElementById('cboMarcas');
            var cboModelos = document.getElementById('cboModelos');
            var marcaSeleccionada = cboMarcas.value;

            // Realiza la solicitud AJAX al controlador para obtener los modelos de motos
            $.ajax({
                url: '@Url.Action("ObtenerModelosDeMotos", "MotosApi")',
                type: 'GET',
                data: { marca: marcaSeleccionada },
                success: function(data) {
                    // Limpia las opciones anteriores
                    cboModelos.innerHTML = '';

                    // Llena el combobox con los modelos de motos obtenidos
                    for (var i = 0; i < data.length; i++) {
                        var option = document.createElement('option');
                        option.value = data[i].id;
                        option.text = data[i].name;
                        cboModelos.appendChild(option);
                    }
                },
                error: function(xhr, textStatus, errorThrown) {
                    console.error('Error al obtener los modelos de motos:', errorThrown);
                }
            });
        }

        function obtenerSpecDeMotos() {
            var cboMarcas = document.getElementById('cboMarcas');
            var cboModelos = document.getElementById('cboModelos');
            // var marcaSeleccionada = cboMarcas.value;
            var marcaSeleccionada = cboMarcas.options[cboMarcas.selectedIndex].textContent;
            console.log(marcaSeleccionada);
            // var modelosSeleccionada = cboModelos.value;
            var modelosSeleccionada = cboModelos.options[cboModelos.selectedIndex].textContent;

            // Realiza la solicitud AJAX al controlador para obtener los modelos de motos
            $.ajax({
                url: '@Url.Action("obtenerSpecDeMotos", "MotosApi")',
                type: 'GET',
                data: { marca: marcaSeleccionada, modelo: modelosSeleccionada },
                success: function(data) {
                    var text = '';

                    // Recorre los objetos del array 'data' y crea una representación de texto
                    for (var i = 0; i < data.length; i++) {
                        var articleInfo = data[i].articleCompleteInfo;
                        var engineInfo = data[i].engineAndTransmission;
                        var chassisInfo = data[i].chassisSuspensionBrakesAndWheels;
                        var physicalInfo = data[i].physicalMeasuresAndCapacities;
                        var otherInfo = data[i].otherSpecifications;

                        text += 'Id articulo: ' + articleInfo.articleID + '\n';
                        text += 'Nombre de la marca: ' + articleInfo.makeName + '\n';
                        text += 'Nombre del modelo: ' + articleInfo.modelName + '\n';
                        text += 'Nombre de desplazamiento: ' +  engineInfo.displacementName + '\n';
                        text += 'detalles del motor: ' +  engineInfo.engineDetailsName + '\n';
                        text += 'Velocidad maxima: ' +  engineInfo.topSpeedName + '\n';
                        text += 'Nombre del sistema del combustible: ' +  engineInfo.fuelSystemName + '\n';
                        text += 'Nombre de ignicion : ' +  engineInfo.ignitionName + '\n';
                        text += 'Nombre del sistema de refrigeración: ' +  engineInfo.coolingSystemName + '\n';
                        text += 'Tipo de transmisión Nombre de unidad final: ' +  engineInfo.transmissionTypeFinalDriveName+ '\n';
                        text += 'nombre del embrague: ' +  engineInfo.clutchName + '\n';
                        // ... mostrar otras propiedades según sea necesario ...

                        text += '\n-------------------\n\n';
                    }

                    // Limpia las opciones anteriores
                    $('#textarea1').val(text);
                },
                error: function(xhr, textStatus, errorThrown) {
                    console.error('Error al obtener los textarea de motos:', errorThrown);
                }
            });
        }
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    // Hacer una solicitud AJAX al controlador para obtener los datos
    $.ajax({
        url: '@Url.Action("ObtenerMarcasDeMotos", "MotosApi")',
        type: 'GET',
        success: function(data) {
            var cboMarcas = document.getElementById('cboMarcas');
            
            // Llenar el ComboBox con los datos obtenidos
            for (var i = 0; i < data.length; i++) {
                var option = document.createElement('option');
                option.value = data[i].id;
                option.text = data[i].name;
                cboMarcas.appendChild(option);
            }
        },
        error: function(xhr, textStatus, errorThrown) {
            console.error('Error al obtener las marcas de motos:', errorThrown);
        }
    });
</script>